attrs==23.1.0 ; python_version >= "3.10" and python_version < "3.13"
awswrangler==3.4.1 ; python_version >= "3.10" and python_version < "3.13"
boto3==1.28.70 ; python_version >= "3.10" and python_version < "3.13"
botocore==1.31.70 ; python_version >= "3.10" and python_version < "3.13"
certifi==2023.7.22 ; python_version >= "3.10" and python_version < "3.13"
charset-normalizer==3.3.1 ; python_version >= "3.10" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Windows"
docker==6.1.3 ; python_version >= "3.10" and python_version < "3.13"
fmpy==0.3.18 ; python_version >= "3.10" and python_version < "3.13"
idna==3.4 ; python_version >= "3.10" and python_version < "3.13"
jinja2==3.1.2 ; python_version >= "3.10" and python_version < "3.13"
jmespath==1.0.1 ; python_version >= "3.10" and python_version < "3.13"
joblib==1.3.2 ; python_version >= "3.10" and python_version < "3.13"
lark==1.1.8 ; python_version >= "3.10" and python_version < "3.13"
lxml==4.9.3 ; python_version >= "3.10" and python_version < "3.13"
markupsafe==2.1.3 ; python_version >= "3.10" and python_version < "3.13"
msgpack==1.0.7 ; python_version >= "3.10" and python_version < "3.13"
numpy==1.26.1 ; python_version >= "3.10" and python_version < "3.13"
packaging==23.2 ; python_version >= "3.10" and python_version < "3.13"
pandas==1.5.3 ; python_version >= "3.10" and python_version < "3.13"
pyarrow==13.0.0 ; python_version >= "3.10" and python_version < "3.13"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "3.13"
pytz==2023.3.post1 ; python_version >= "3.10" and python_version < "3.13"
pywin32==306 ; python_version >= "3.10" and python_version < "3.13" and (sys_platform == "win32" or platform_system == "Windows")
requests==2.31.0 ; python_version >= "3.10" and python_version < "3.13"
s3transfer==0.7.0 ; python_version >= "3.10" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.13"
tqdm==4.66.1 ; python_version >= "3.10" and python_version < "3.13"
typing-extensions==4.8.0 ; python_version >= "3.10" and python_version < "3.13"
urllib3==2.0.7 ; python_version >= "3.10" and python_version < "3.13"
websocket-client==1.6.4 ; python_version >= "3.10" and python_version < "3.13"
